---
import { getCollection } from 'astro:content'
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts')
  return blogEntries
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .map((post) => ({
      params: { slug: post.slug },
      props: { post },
    }))
}

const { post } = Astro.props

const allPosts = await getStaticPaths()
const { Content } = await post.render()

const currentPostIndex = allPosts.findIndex((p) => p.params.slug === post.slug)
const prevPost = allPosts[currentPostIndex + 1]
const nextPost = allPosts[currentPostIndex - 1]
---

<MarkdownPostLayout post={post}>
  <Content />
  {
    prevPost && (
      <a href={prevPost.params.slug} title={prevPost.props.post.data.title} class="postnav postnav-left">
        « Previous
      </a>
    )
  }
  {
    nextPost && (
      <a href={nextPost.params.slug} title={nextPost.props.post.data.title} class="postnav postnav-right">
        Next »
      </a>
    )
  }
</MarkdownPostLayout>
