---
import { getCollection } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("tils");
  console.info(blogEntries);
  return blogEntries
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .map((post) => ({
      params: { slug: post.slug },
      props: { post },
    }));
}

console.info(Astro.props);
const { post } = Astro.props;

// https://docs.astro.build/en/guides/troubleshooting/#supported-values
// Fetch absolutely all posts from every possible page
const allPosts = await getStaticPaths();
const currentPostIndex = allPosts.findIndex((p) => p.params.slug === post.slug);
const prevPost = allPosts[currentPostIndex + 1];
const nextPost = allPosts[currentPostIndex - 1];

const { Content } = await post.render();
---

<MarkdownPostLayout post={post} nextPost={nextPost} prevPost={prevPost}>
  <Content />
  {
    prevPost && (
      <a href={prevPost.params.slug} title={prevPost.props.post.data.title} class="postnav postnav-left">
        « Previous
      </a>
    )
  }
  {
    nextPost && (
      <a href={nextPost.params.slug} title={nextPost.props.post.data.title} class="postnav postnav-right">
        Next »
      </a>
    )
  }
</MarkdownPostLayout>
