---
import BaseLayout from './BaseLayout.astro';
import Footer from '../components/Footer.astro';
const { frontmatter } = Astro.props;

// Use Astro.glob() to fetch all nonDraftPosts, and then sort them by date
const allPosts = (await Astro.glob('../pages/posts/*.md')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);

const currentPostIndex = nonDraftPosts.findIndex((post) => post.frontmatter.title === frontmatter.title);
const prevPost = nonDraftPosts.at(currentPostIndex + 1)
const nextPost = nonDraftPosts.at(currentPostIndex - 1)
---
<BaseLayout pageTitle={frontmatter.title}>
	<h2>{frontmatter.title}</h2>
	<p>{new Date(frontmatter.pubDate).toLocaleDateString('en-us', {
		year: 'numeric',
		month: 'long',
		day: 'numeric',
	})}</p>

	<slot />
	<p>
		{prevPost && <a href={prevPost.url} title={prevPost.frontmatter.title}>« Previous</a>}
		{nextPost && currentPostIndex != 0 && <a href={nextPost.url} title={nextPost.frontmatter.title}>Next »</a>}
	</p>
</BaseLayout>
<Footer />
